---
title: Главная
description: Мы сделали для Вас поиск цветов и букетов быстрее и удобнее.
image: /images/background_images/background7.png
bottom_image: /images/background_images/background9.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Вы ищете цветы?</h1>
			<p class="subtext editable">Мы сделали для Вас поиск цветов и букетов быстрее и удобнее.</p>
			<div class="cta button alt"><a href="#">Скачать в Appstore</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Узнать больше <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Как мы помогаем быстро найти букет?</h2>
				<p class="editable">Благодаря быстрому старту и простому UX дизайну, мы позволяем вам уже в считанные секунды найти тот букет, о котором вы мечтали всю жизнь!</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Screenshot1.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Почему так легко найти подходящий букет?</h2>
				<p class="editable">Мы располагаем довольно обширным каталогом. А именно, Вы сможете найти - розы в нескольких вариантах цвета, тюльпаны, хризантемы, герберы, лилии, ромашки, орхидеи, пионы и это еще не конец списка.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Screenshot2.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Вы никогда не заскучаете пока мы будем искать для вас букеты!</h2>
				<p class="editable">Во время поиска Вы узнаете общее количество букетов, которые мы нашли, минимальную и среднюю цену.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Screenshot3.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Удобное отображение результатов поиска!</h2>
				<p class="editable">Мы постарались максимально увеличить удобство отображения букетов. Вы сразу же сможете оценить букет внешне, увидеть в каком магазине он продается, возможность доставки, цену и конечно же - добавить в избранное.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Screenshot4.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Не желаете потерять понравившийся букет?</h2>
				<p class="editable">Чтобы в будущем Вы смогли найти быстро понравившийся Вам букет ранее, просто добавьте его в избранное.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/Screenshot5.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Найдите подходящий букет всего за пару секунд!</h2>
				<p class="subtext editable">Поиск цветов стал проще и удобнее. Теперь это можно сделать установив наше приложение из Appstore.</p>
				<div class="cta button alt"><a href="#">Скачать в Appstore</a></div>
			</div>
		</div>
	</section>
</div>
